{{- $root := . -}}
{{- $fullName := include "stoatchat.fullname" . -}}
{{- range $instance := .Values.global.livekit.servers }}
{{- if $instance.name }}
{{- $turn := ($instance.turn | default dict) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ $fullName }}-livekit-{{ $instance.name }}-secret"
  namespace: {{ $root.Values.global.namespace }}
  labels:
    {{- include "stoatchat.labels" $root | nindent 4 }}
type: Opaque
stringData:
  config.yaml: |
    {{- $turnDomain := printf "%s.%s" $instance.subdomain $root.Values.global.domain }}
    port: {{ $instance.http_port | default 7880 }}
    rtc:
      tcp_port: {{ $instance.rtc_tcp_port | default 7881 }}
      udp_port: {{ $instance.rtc_udp_port | default 7882 }}
      use_external_ip: true
    turn:
      enabled: true
      domain: {{ $turnDomain | quote }}
      udp_port: {{ (index $turn "udp_port") | default 3478 }}
      {{- if gt ((index $turn "tls_port") | default 0) 0 }}
      tls_port: {{ index $turn "tls_port" }}
      external_tls: {{ (index $turn "external_tls") | default false }}
      {{- with (index $turn "cert_file") }}
      cert_file: {{ . | quote }}
      {{- end }}
      {{- with (index $turn "key_file") }}
      key_file: {{ . | quote }}
      {{- end }}
      {{- end }}
    redis:
        {{- if $root.Values.global.subcharts.redis.connection_url }}
        {{- $redisUrl := $root.Values.global.subcharts.redis.connection_url }}
        {{- $redisUserInfo := trimPrefix "redis://" $redisUrl | regexFind "[^@]+" }}
        address: {{ regexFind "[^/]+" (index (splitList "@" $redisUrl) 1) }}
        username: {{ regexFind "[^:/]+" $redisUserInfo | quote }}
        password: {{ last (regexFindAll ":[^@]+" $redisUserInfo -1) | trimPrefix ":" | quote }}
        {{- else }}
        address: "{{ $fullName }}-redis-master:6379"
        {{- if $root.Values.redis.auth.enabled }}
        username: "default"
        password: {{ include "stoatchat.deriveSecret" (dict "root" $root "id" "redis" "length" 32) | quote }}
        {{- end }}
        {{- end }}
    webhook:
      api_key: {{ $instance.name }}
      urls:
        - 'http://{{ $fullName }}-voice-ingress:8500/{{ $instance.name }}'
    logging:
      level: {{ $instance.log_level | default "warn" }}
    key_file: /etc/livekit-keys/keys.yaml
  {{- if not $instance.existingSecret }}
  keys.yaml: |
    {{- if $instance.secret }}
    {{ $instance.name }}: {{ $instance.secret }}
    {{- else }}
    {{ $instance.name }}: {{ include "stoatchat.deriveSecret" (dict "root" $root "id" (printf "livekit-%s" $instance.name) "length" 32) }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
