# Config Reference: https://github.com/stoatchat/stoatchat/blob/stable/crates/core/config/Revolt.toml
# Default values for stoat.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


global:
  namespace: 'stoatchat'
  # Domain name used for access, ex stoat.example.com
  domain: ''

  web:
    port: 5000
  api:
    port: 14702
  bonfire:
    port: 14703
  autumn:
    port: 14704
  january:
    port: 14705
  gifbox:
    port: 14706

  livekit:
  - name: ''
    secret: ''
    subdomain: ''
    # lat: 0.0 # optional
    # lon: 0.0 # optional

  secret:
    vapid_key: ''
    vapid_public_key: ''
    encryption_key: ''
    livekit_key: '' # TODO REMOVE
    livekit_secret: ''

  ingress:
    enabled: false
    className: ''
    annotations: {}
    extra_hosts: []
  serviceAccount:
    create: true
    automount: true
    annotations: { }
    name: ""

  subcharts:
    mongodb:
      enabled: true  # Set to false to use external MongoDB
      connection_url: ''
    redis:
      enabled: true  # Set to false to use external Redis
      connection_url: ''
    minio:
      enabled: true  # Set to false to use external MinIO
      connection_url: ''
    rabbitmq:
      enabled: true  # Set to false to use external RabbitMQ
      host: ''
      port: 5672
      username: 'rabbituser'
      password: 'rabbitpass'


mongodb:
  architecture: standalone
  auth:
    enabled: false
  persistence:
    enabled: false


redis:
#  image:
#    repository: eqalpha/keydb
#    tag: x86_64_v6.3.4
#    pullPolicy: IfNotPresent
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false


rabbitmq:
  replicaCount: 1
  auth:
    username: "rabbituser"
    password: "rabbitpass"
  persistence:
    enabled: false


minio:
  mode: standalone
  rootUser: minioautumn
  rootPassword: minioautumn
  persistence:
    enabled: false
  auth:
    rootUser: 'minioautumn'
    rootPassword: 'minioautumn'


# Web app
web:
  image:
    # Requires custom build - see build/BUILD-IMAGES.md
    repository: ghcr.io/YOUR_USERNAME/stoat-for-web
    tag: "v0.1.0" # Replace with your build image tag
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  replicaCount: 1
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []


# Revolt API Server
api:
  image:
    repository: ghcr.io/stoatchat/api
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml


# Livekit Server
livekit:
  image:
    repository: ghcr.io/stoatchat/livekit-server
    tag: "v1.9.9"
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /livekit.yml


# Events service
bonfire:
  image:
    repository: ghcr.io/stoatchat/events
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml


# File server
autumn:
  image:
    repository: ghcr.io/stoatchat/file-server
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
#  livenessProbe:
  livenessProbe: {}
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml

# Metadata and image proxy
january:
  image:
    repository: ghcr.io/stoatchat/proxy
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml

# Regular task daemon
crond:
  image:
    repository: ghcr.io/stoatchat/crond
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml

# Push notification daemon
pushd:
  image:
    repository: ghcr.io/stoatchat/pushd
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml

# Push notification daemon
voice-ingress:
  image:
    repository: ghcr.io/stoatchat/voice-ingress
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml

# Push notification daemon
gifbox:
  image:
    repository: ghcr.io/stoatchat/gifbox
    tag: "v0.11.0"
    pullPolicy: IfNotPresent
  replicaCount: 1
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources: {}
  livenessProbe:
  readinessProbe:
  extra_volumes: []
  extra_volumeMounts: []
  configMountPath: /Revolt.toml
