{{- $fullName := include "stoatchat.fullname" . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}-config
  namespace: {{ .Values.global.namespace }}
  annotations:
    "helm.sh/resource-policy": keep
data:
  Revolt.toml: |
    production = false

    [database]
    mongodb = {{ .Values.global.subcharts.mongodb.connection_url | default (printf "mongodb://%s-mongodb" (include "stoatchat.fullname" .)) | quote }}
    redis = {{ .Values.global.subcharts.redis.connection_url | default (printf "redis://%s-redis-master" (include "stoatchat.fullname" .)) | quote }}

    [rabbit]
    host = {{ .Values.global.subcharts.rabbitmq.host | default (printf "%s-rabbitmq" (include "stoatchat.fullname" .)) | quote }}
    port = {{ .Values.global.subcharts.rabbitmq.port }}
    username = {{ .Values.global.subcharts.rabbitmq.username | quote }}
    password = {{ .Values.global.subcharts.rabbitmq.password | quote }}


    [hosts]
    app = "https://{{ .Values.global.domain }}"
    api = "https://{{ .Values.global.domain }}/api"
    events = "wss://{{ .Values.global.domain }}/ws"
    autumn = "https://{{ .Values.global.domain }}/autumn"
    january = "https://{{ .Values.global.domain }}/january"

    # Public urls for livekit nodes
    # each entry here should have a corresponding entry under `api.livekit.nodes`
    [hosts.livekit]
    {{- range $v := .Values.global.livekit }}
    {{ $v.name }} = "wss://{{ $v.subdomain }}.{{ $.Values.global.domain }}"
    {{- end }}

    [pushd.vapid]
    private_key = "{{ .Values.global.secret.vapid_key }}"
    public_key = "{{ .Values.global.secret.vapid_public_key }}"

    [files]
    encryption_key = "{{ .Values.global.secret.encryption_key }}"

    [api]

    [api.livekit]
    # Config for livekit nodes
    # Make sure to change the secret when deploying
    # The key and secret should match the values livekit is using

    {{- range $v := .Values.global.livekit }}

    [api.livekit.nodes.{{ $v.name }}]
    url = "http://{{ $fullName }}-livekit-{{ $v.name }}:7880"
    lat = {{ $v.lat | default 0.0 }}
    lon = {{ $v.lon | default 0.0 }}
    key = "{{ $v.name }}"
    secret = "{{ $v.secret }}"

    {{- end }}


    [files.s3]
    # S3 protocol endpoint
    endpoint = {{ .Values.global.subcharts.minio.connection_url | default (printf "redis://%s-minio:9000" (include "stoatchat.fullname" .)) | quote }}
    # Whether to use path-style buckets
    # Generally true, except for MinIO
    path_style_buckets = false
    # S3 region name
    region = "minio"
    # S3 protocol key ID
    access_key_id = "minioautumn"
    # S3 protocol access key
    secret_access_key = "minioautumn"
    default_bucket = "revolt-uploads"
