apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "stoatchat.fullname" . }}-livekit"
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "stoatchat.labels" . | nindent 4 }}
    stoat-app: {{ include "stoatchat.fullname" . }}-livekit
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "stoatchat.selectorLabels" . | nindent 6 }}
      stoat-app: {{ include "stoatchat.fullname" . }}-livekit
  template:
    metadata:
      {{- with .Values.livekit.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        stoat-app: {{ include "stoatchat.fullname" . }}-livekit
        {{- include "stoatchat.labels" . | nindent 8 }}
        {{- with .Values.livekit.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: livekit
          image: "{{ .Values.livekit.image.repository }}:{{ .Values.livekit.image.tag }}"
          imagePullPolicy: {{ .Values.livekit.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 7880
              protocol: TCP
          livenessProbe:
            {{- if .Values.livekit.livenessProbe }}
            {{- toYaml .Values.livekit.livenessProbe | nindent 12 }}
            {{- else }}
            tcpSocket:
              port: {{ .Values.global.livekit.port }}
            initialDelaySeconds: 15
            periodSeconds: 30
            {{- end }}
          readinessProbe:
            {{- if .Values.livekit.readinessProbe }}
            {{- toYaml .Values.livekit.readinessProbe | nindent 12 }}
            {{- else }}
            tcpSocket:
              port: {{ .Values.global.livekit.port }}
            initialDelaySeconds: 15
            periodSeconds: 30
            {{- end }}
          {{- with .Values.livekit.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              subPath: Revolt.toml
              mountPath: {{ .Values.livekit.configMountPath }}
            {{- with .Values.livekit.extra_volumeMounts }}
            {{ toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "stoatchat.fullname" . }}-config
        {{- with .Values.livekit.extra_volumes }}
        {{ toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.livekit.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.livekit.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.livekit.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
